* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.h1 {
    padding-top: 50px;
    color: #ed5a7e;
    text-align: center;
    font-weight: bolder;
}

.p1 {
    text-align: center;
    text-indent: 30px;
    padding-top: 50px;
    color: black;
}

.container {
    width: 1040px;
    display: block;
    margin:  auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
.col1 {
    background-color: black;
    float: left;
    margin: auto;
    color: white;
    width: 33.3%;
}


.mail {
    color: rgb(34, 172, 236);
    padding-left: 8rem;
}

.spec2 {
    background-color: black;
    padding-top: 1rem;
    text-align: center;
}

.img-spec {
    height: 8rem;
    float: left;
}
.margin{
    margin-bottom: 2rem;
    margin-right: 1rem;
   
}